
* {
    font-family: Verdana, Geneva, sans-serif;
    color:#FFFFFF;
    background:#2c2f33;
    line-height:1.6;
}
h1 {
    font-size:36px;
}
.left {
    float:left;
    display:block;
    width:24%;
}
.menu {
    font-size:32px;
}
.middle {
    float:left;
    display:block;
    width:50%;
    font-size:18px;
}
.right {
    float:left;
    display:block;
    width:24%;
    whitespace:nowrap;
}
.footer {
    font-size:8px;
    text-align:right;
}
.menu ul > li {
    display: inline-block;
    min-width:120px;
    zoom:1;
    *display:inline;
    /* this fix is needed for IE7- */
}
