
* {
    font-family: "Courier New", Courier, monospace;
    color:#FFFFFF;
    background:#2c2f33;
    line-height:1.6;
    font-size:18px;
}
h1 {
    font-size:36px;
}
.left {
    float:left;
    display:block;
    width:24%;
}
.middle {
    float:left;
    display:block;
    width:50%;
}
.right {
    float:left;
    display:block;
    width:24%;
    whitespace:nowrap;
}
ul > li {
    display: inline-block;
    min-width:60px;
    zoom:1;
    *display:inline;
    /* this fix is needed for IE7- */
}
